@font-face {
  font-family: 'Lato';
  src: local("Lato Regular"), local("Lato-Regular"), url("latoregular.woff2") format("woff2"), url("latoregular.woff") format("woff"), url("latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato Light';
  src: local("Lato Light"), local("Lato-Light"), url("latolight.woff2") format("woff2"), url("latolight.woff") format("woff"), url("latolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local("Lato Black"), local("Lato-Black"), url("latoblack.woff2") format("woff2"), url("latoblack.woff") format("woff"), url("latoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Cardo';
  src: local("Cardo"), url("cardo.woff2") format("woff2"), url("cardo.woff") format("woff"), url("cardo.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.body {
  background-color: #e9e7e7;
  color: #232323;
  font-size: 17px;
}

.container {
  max-width: 1326px;
  margin: 0 auto;
}

.header {
  margin-top: 79px;
  margin-bottom: 108px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__item {
  padding-right: 68px;
}
.nav__item:last-child {
  padding-right: 0px;
}

.link {
  text-decoration: none;
  font-size: 21px;
  font-family: 'Lato Light';
  color: #515155;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: justifyAll;
}
.link--active {
  font-family: 'Lato';
  font-weight: 900;
  color: #232323;
}

.button {
  padding: 19px 55px;
  border-radius: 5px;
  border: 3px solid #232323;
  font-size: 21px;
  font-family: 'Lato';
  font-weight: 900;
}

/*Group_1*/
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section__text {
  max-width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__group_1 {
  padding-bottom: 159px;
  background-image: url("../img/bg_1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-family: Cardo;
  font-size: 81px;
  font-weight: bold;
  line-height: 82px;
  text-align: left;
  padding-bottom: 35px;
}

.text {
  font-family: Lato;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  padding-bottom: 43px;
}

.group_1__button {
  color: #e9e7e7;
  background-color: #232323;
  width: 256px;
  height: 54px;
}

.section__img {
  background-image: url("../img/img_1.png");
  width: 662px;
  height: 419px;
  background-repeat: no-repeat;
  background-position: center;
}

/*Group_2*/
.main__group_2 {
  background-color: #232323;
  color: #e9e7e7;
  padding-top: 50px;
  padding-bottom: 54px;
  background-image: url("../img/bg_2.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.main__group_2 .section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__group_2 .section__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__group_2 .title--size {
  font-size: 55px;
  line-height: 56px;
  letter-spacing: -2.49px;
}

.group_2__button {
  background-color: #232323;
  border-color: #e9e7e7;
  color: #e9e7e7;
}
