html 
   head 
   link(rel="stylesheet", href="css/style.css")
   body
    include html/header
    main.page 
    h1 Lilya
    img(src="@img/img_2.png", alt="")
    include html/footer 
    script(src='js/script.js')