$maxWidth: 1920px;
$maxWidthContainer: 1200px;
$minWidth: 320px;
$orangeColor: #ff3a2d;
$textColor-1:#808080;
$white:#ffffff;
$blueColor:#00c5d2;
$darkColor-1:#1c1c1c;
$darkColor-2:#222222;
$main_font: "Poppins";
$font-size: 14px;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px; 
