@font-face {
	font-family: latoblack;
	font-display: swap;
	src: url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: latolight;
	font-display: swap;
	src: url("../fonts/latolight.woff2") format("woff2"), url("../fonts/latolight");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: latoregular;
	font-display: swap;
	src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular");
	font-weight: 400;
	font-style: normal;
}
