@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,700&family=Poppins:wght@400;500;600&family=Raleway&family=Sacramento&display=swap');
@font-face {
	font-family: Myriad Pro;
	font-display: swap;
	src: url("../fonts/Myriad Pro Regular.woff2") format("woff2"), url("../fonts/Myriad Pro");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SourceSansPro;
	font-display: swap;
	src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SourceSansPro;
	font-display: swap;
	src: url("../fonts/SourceSansPro-Semibold.ttf") format("woff2"), url("../fonts/SourceSansPro");
	font-weight: 700;
	font-style: normal;
}