@import "variables";
@import "fonts";
@import "reset";


.body{
    background-color:$main-color;
    color: $color;
    font-size: 17px;
    box-sizing: border-box;

}
.container{
    max-width: 1240px;
    margin: 0 auto;
    
    padding: 0 15px;
}
@media (max-width:992px){
    .container{
        max-width: 990px;
    }
}
@media (max-width:767px){
    .container{
        max-width: none;
    }
} 
.ibg{
    background-position: center;
    padding: 0 0 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.ibg img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    }
    /*-----------------------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #e9e7e7;
}
.header__container{
    max-width: 1237px;
    margin: 0 auto;
    display: flex;
    padding: 0px 30px;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    z-index: 5;
    height: 40px;
    width: 40px;
}
.menu__list > li {
position: relative;
margin:  0 70px 0 0px;
}
.menu__link {
   color: #515155;
   font-size: 21px;
   text-decoration: none;
   font-weight: 300;
    &:hover{
        text-decoration: underline;
    }
}
.btn{
    border-radius: 5px;
    border: 3px solid $color;
    padding: 15px 54px;
    font-size: 21px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    color: $color;
    &:hover{
        background-color: $color;
        color: $main-color;
    }
    &__reverse{
        color: $main-color;
        background-color: $color;
        &:hover{
            color: $color;
            background-color: #e9e7e7;
            border-color: $color;
        }
    }
    &__group-2{
        border-color: $main-color;
    }

}

/*------------------------------*/
body._touch {
    .menu__list > li {
        display: flex;
        align-items: center;
    }
    .menu__link{
        flex: 1 1 auto;
    }
}
body._lock{
    overflow: hidden;
}
/*------------------------------*/

@media (min-width:767px) {
    .menu__list{
        display: flex;
        align-items: center;
    }
    .menu__list > li {
        padding: 10px 0;
    }
}
/*---------------------*/
.menu__icon{
    display: none;
}

@media (max-width:767px) {
    .menu__icon{
        display: block;
        position: relative;
        z-index: 5;
        width: 30px;
        height: 18px;
        cursor: pointer;
        span,
        &::before,
        &::after{
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background-color: $color;
        }
        &::before,
        &::after{
            content: '';
        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;

        }
        span{
            top: 50%;
            transform:scale(1) translate(0px, -50%) ;
        }
        &._active span{
            transform: scale(0) translate(0px,-50%);
        }
        &._active::before{
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }
        &._active::after{
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }
    }

    .menu__body{
        position: fixed;
        top: 0;
        left: -110%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px 30px;
        transition:  left 0.3s ease 0s;
        overflow: auto;
        &::before{
            content: '';
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 70px;
            background-color: $main-color;
            z-index: 2;
        }
        &._active{
            left: 0;
        }
    }
    .menu__list > li {
        margin: 0px 0px 30px 0px;
        flex-wrap: wrap;
    }
    .menu__list >li:last-child {
        margin-bottom: 0;
    }
    .menu__link{
        font-size: 24px;
        color: white;
    }
}
/*Group1*/
.main{
    padding-top: 150px;
}
.group-1{
    padding-bottom: 159px;
    background-image: url('@img/bg_1.png');
    background-repeat: no-repeat;
    background-position: center;
}
.title{
    font-family: Cardo;
    font-size: 81px;
    font-weight: bold;
    line-height: 82px;
    text-align: left;
    padding-bottom: 35px;
}
.text{
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    padding-bottom: 43px;
    letter-spacing: -1.11px;
}
.section{
    display: flex;
}
.group-1{
    .section{ 
    justify-content: space-between;
    }
    &__article{
    flex: 0 1 430px;
    }
    &__img{
        max-width: 662px;
        width: 100%;
        margin: 0 0 0 15px;
    }
}
 @media (max-width:992px){
    .group-1{
        .section{ 
            flex-direction: column;
        justify-content: start;
        }
        &__article{
        flex: 0 1 100%;
        text-align: center;
        }
        &__img{
            max-width: none;
            margin: 15px 0 0 0;
        }
        &__title{
            font-size: 75px;
            text-align: center;
        }
    }
  } 

/*----------------------------------------------------*/
/*Group_2*/
.group-2{
    background-color: $color;
    color: $main-color;
    padding-top: 50px;
    padding-bottom:54px ;
    background-image: url('@img/bg_2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    .section{
        justify-content: center;
        display: flex;
        text-align: center;
        
    }
    &__article{
        flex: 0 1 440px;
    }
    &__title{
        font-size: 55px;
        line-height: 56px;
        letter-spacing: -2.49px;text-align: center;
        }

    }
@media (max-width:767px){
        .group_2 {
        &__title{
            font-size: 40px;
        }
    }
}
/*Group_3*/
.group-3{
    background-image: url('@img/bg_3.png');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 166px;
    padding-bottom: 200px;
}
.cards{
    display: flex;
    flex-flow: row wrap;
}
.card{
    margin-right: 30px;
    max-width: 363px;
    position: relative;
    &::before{
        content: "";
        width:53px;
        height: 2px;
        position: absolute;
        top: 266px;
        background: $color;
        left: 0; 
        z-index: 5;
    }

    &:last-child{
        padding-right: 0;
    }
    &__title{
        font-size: 36px;
        line-height: 37px;
        padding-top: 62px;
    }
    &__text{
        padding-bottom: 0px;
    }
    &__img{
        padding: 0 0 62% 0;
}
}


@media (max-width: 992px) {
    .group-3{
        padding-bottom: 100px;
    }
    .card{
        margin-right: 20px;
        &:nth-child(even){
            margin-right: 0;
        }
    }
}
@media (max-width: 767px) {
    .group-3{
        padding-bottom: 75px;
    .cards{
        justify-content: center;
    }
    .card{
        margin-right: 0px;
        margin-bottom: 20px;
        max-width: none;
        &::before{
            width: 0;
        }
    }
    .card__title{
        padding: 30px;
    }
    .card__text{
        font-size: 25px;
    }
}
}
/*Group-4*/
.group-4{
    padding:  0 0 269px 0 ;
    background-image: url('@img/bg_4.png');
    background-repeat: no-repeat;
    background-position: center;
    span{
        text-decoration: underline;
        font-style: italic;
    }
    &__img{
        width: 73px;
        height: 74px;
        padding: 0;
    }
    &__title{
        max-width: 777px;
        text-align: center;
    }
}
.group-4 .section{
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* .group-4{
    max-width: 780px;
    display: flex;
    flex-direction: column;
    
} */
.links{
    display: flex;
    .link{
        border-right: 1px solid $color;
        margin-right: 10px;
        padding: 0 10px;
        font-family: "Lato Black";
        font-size: 25px;
        text-decoration: none;
        color: $color;
        &:last-child{
            margin-right: 0;
            border-right: 0;
        }
        &:hover{
            text-decoration: underline;
        }
    }

}
@media(max-width: 992px){
    .group-4{
        padding: 15px;
         .title{
            padding-bottom: 20px;
            }
        .title--size{
            font-size: 70px;
            line-height: 70px;
        }
}
}
@media(max-width: 767px){
    .group_4{
        .title{
            &--size{
                font-size: 50px;
            }
        }
    }
    .links{
        flex-direction: column;
        .link{
            margin-right: 0;
            padding-bottom: 10px;
            border-right: 5px;
            
        }
    }

}
/*Group-5*/
.group-5{
    padding-bottom: 48px;
    .article{
        max-width: 600px;
        display: flex;
        padding-top: 78px;
         .headline{
            padding-right: 46px;
            max-width: 236px;
        }
         .text{
            max-width: 317px;
        }
    }
    .section{
        justify-content: space-between;
    }
    &__img{
       width: 526px;
       position: relative;
        &::before{
            content: "";
            width: 71px;
            height: 254px;
            background-image: url('../img/icon_2.png');
            position: absolute;
            bottom: 254px;
            left: -50px;
            z-index: 5;
        }
       }
/*     .thumb{
        background-image: url('../img/img_5.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 418px;
        height: 322px;
    } */
}
.block{
    flex: 0 1 600px;
    margin-left: 45px;
    &__img{
        width: 418px;
    }
}
.headline{
    font-family: 'Cardo';
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    text-decoration: underline;
}

@media(max-width:992px){
    .group-5{
        margin: 30px 15px;
        padding: 0;
        .block{
            flex-direction: column;
            align-items: center;
        }
        .article{
            flex-direction: column;
            max-width: none;
            
            .headline{
                max-width: none;
                text-align: center;
                padding-bottom: 20px;
                padding: 0 0 20px 0;
            }
            .text{
                max-width: none;
                text-align: justify;
            }
        }
    }
}
@media(max-width:830px){
    
        .article{
            padding-top: 20px;
            .text{
                font-size: 20px;
            }
            .headline{
                font-size: 40px;
            }
    }
    .block__img{
        width: 100%;
    }
    .group-5 {
        .block{
            margin-left: 0;
        }

    .section{
        flex-direction: column-reverse;
    }
    .group-5__img{
        width: 100%;
    }
    
}
    

}
/*Group_6*/
.group-6{
    color: $main-color;
    background-color: $color;
    background-image: url('../img/bg_5.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 155px;
    padding-bottom: 155px;
    .section{
        justify-content: space-between;
    }
    &__img{
        /* width:756px; */
        flex: 0 1 756px;
    }
    .block{
        
        flex: 0 1 456px;
        margin-right: 15px;
        margin-left: 0;
    }
    .headline{
        font-size: 55px;
        text-decoration: none;
        padding-bottom: 145px;
    }
    .article{
        flex-direction: column;
    }
    .subtitle{
        font-size: 25px;
        font-family: 'Lato Black';
        padding-bottom: 19px;

    }
    .text__paragraph{
        padding-bottom: 60px;
        &:last-child{
            padding-bottom: 0px;
        }
    }
}
@media(max-width:992px){
    .group-6{
        padding: 100px 0;
        .section{
        flex-direction: column;
        }
        .block{
            margin-right: 0;
            flex-basis:100% ;
        }
        .headline{
            padding-bottom: 50px;
        }
        .text__paragraph{
            padding-bottom: 30px;
        }
        &__img{
            flex-basis: 100%;
        }
    }
}
@media(max-width: 767px){
    .group-6{
        background-image: none;
        .headline{
            padding-bottom: 25px;
        }
        .text__paragraph{
            padding-bottom: 15px;
        }
    }
}
/*Group-9*/
.group-9{
    background-color: $main-color;
    color: $color;
    font-family: Cardo;
    font-size: 81px;
    padding: 110px 0 210px 0;
    .section{
        justify-content: space-between;
    }
    &__img{
        width: 666px;
    }
}
.request, .form{
    display: flex; 
    flex: 0 1 456px;

}
.request{
    margin-right: 20px;
}
.form{
    flex-direction: column;

    &__request{
        font-size: 21px;
        font-family: 'Lato';
        padding: 20px 0 20px 30px;
        margin-bottom: 25px;
        border-radius: 5px;
        border: 3px solid $color;
        &--size{
            min-height: 224px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    .button{
        background-color: $color;
        color: $main-color;
    }
}
.title__request{
    margin-bottom: 37px;
    font-weight: bold;
}
@media(max-width: 993px){
    .group-9{
        padding: 50px 15px ;
        .section{
            flex-direction: column;
        }
        .title__request{
            margin: 0 0 15px 0;
            text-align: center;
        }
        .form__request{
            margin-bottom: 15px;
            font-size: 30px;
        }
        .button{
            width: 100%;
        }
        .request .form{
            flex-basis: 100%;
        }
        .request{
            margin-right: 0;
        }
        &__img{
            width: 100%;
        }
}
}
/*group7*/
.group-7{
    padding: 176px 0 100px 0;
    .section{
        justify-content: space-between;
    }
    .block__item{
        border-bottom: 2px $color solid;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .block__title{
        position: relative;
        cursor: pointer;
        padding-right: 15px;
        padding-bottom: 15px;
    }
    .block__text{
        overflow: hidden;
        max-height: 0;
        transition: max-height 1s ease;
    }
    .block__title::before,
    .block__title::after{
        content: '';
        width: 19px;
        height: 1px;
        background-color: black;
        position: absolute;
        right: 0;
        top: 50%;
    }
    .block__title::after{
        transform: rotate(90deg);
    }
    .block__item.active .block__title::after {
        transform: rotate(0deg);
        transition: transform 0.5s ease 0s;
    }

    .wrapper{
        display: flex;        
        flex-direction: column;
        
        flex: 0 1 740px;
    }
    .subtitle{
        font-size: 81px;
        font-family: 'Cardo';
        font-weight: 900;
        padding-bottom: 130px;
    }
    .items{
        font-family: Lato;
        font-size: 17px;
        font-weight: 400;
    }
    .wrapper .block{
        flex-basis: auto;
    }
    @keyframes fade {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
        
    }
    .block__item.active .block__text{
        max-height: 300px;
        animation: fade 1s ease-in 0s;
    }
    .ibg{
        padding: 0;
    }
}
.group-7__img{
    margin-left: 81px;
    width: 310px;
    max-height: 516px;
}
@media (max-width:992px){

    .group-7 {

    .subtitle{
        padding-bottom: 100px;
        font-size: 75px;
    }}
}
@media (max-width:767px){
    .group-7{
        padding: 50px 0;
        .subtitle{
            font-size: 50px;
            padding-bottom: 20px;
            text-align: center;
        }
        .block{
            font-size: 25px;
        }
        .wrapper{
            flex-basis:auto ;
        }
        .section{
            flex-direction: column;
        }
        &__img{
            margin-left: 0;
            margin-top: 20px;
            align-self: center;
        }
        .ibg{
            padding: 0 50% 50% 0;
        }
    }   
}

/*Group-8*/

.group-8{
    &--inner{
       padding: 100px 15px; 
    }
    .card{
        &__icon{
            border-radius: 50%;
            width: 136px;
            height: 136px;
            background-color: $color;
            background-image: url('@img/Person_Icon.png');
            background-repeat: no-repeat;
            background-position: bottom;
            margin: 0 auto;
        }
        &__name{
            font-size: 25px;
            font-weight: 400;
            text-align: center;
            margin: 49px 0 24px 0;
        }
        &__text{
            text-align: center;
            color: $card_text;
            }
    }
}
.say{

    min-height: 0px;
    &__subtitle{
        font-size: 81px;
        /* line-height: 82 / 81 * 100%; */
        font-weight: bold;
        letter-spacing: -2.5px;
        text-align: center;
        margin-bottom: 48px;
    }
    &__cards{
        position:relative;
        display: flex;
        justify-content: flex-start; 
    }
}
.say__card{
    flex-basis: 25%;
    padding: 75px 41px;
    border-radius: 10px;
    border: 3px solid $color;
    margin-right: 20px;

    }
    @media (max-width:767px) {
        .card__arrow{
            display: none;
        }
        .say__card{
            flex-basis: 95%;
            padding: 10px 10px;
            .card__name{
                margin: 10px 0;
            }
        }
    }

/* .card__arrow{
    width:83px ;
    height: 73px;
    border-radius: 5%;
    border: 2px solid $color;
    background-position: center;
    background-repeat: no-repeat;
    background-size:50%;
    position: absolute;
    top: 55%;
    z-index: 10;
} 
 .card__arrow-left{
    background-image: url("@img/left.png");
    left:-3.3%;
}
.card__arrow-right{
    right: -3.3%;
    background-image: url("@img/right.png");
} */


/*footer*/
.footer{
    background-color: $footer;
    padding: 118px 0;
    font-size: 21px;
    font-family: 'Lato';
    font-weight: 400;
    .section{
        justify-content: flex-start;
    }
}
.logo{
    color: $color;
    font-size: 63px;
    font-family: 'Cardo';
    font-weight: 900;
    margin-right: 120px;
    max-width: 231px;
}
.section__links{
    .subtitle{
        font-family: 'Lato Black';
        font-size: 25px;
        margin-bottom: 50px;
        font-weight: 900;
    }
    .links{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .link{
        font-size: 21px;
        font-family: Lato;
        font-weight: 400;
        border: 0;
        padding-bottom: 34px;
        margin-right: 0;
        display: block;
    }
    .block{
        margin-right: 90px;
        &:last-child{
            margin-right: 0;
        }

    }
}
.copyright{
    margin-top: 130px;
    text-align: center;
}
@media(max-width:993px){
    .footer{
        padding: 50px;
    }
    .logo{
        align-self: center;
    }
   .section__links{
    .links{
        flex-direction: column;
    }
    .subtitle{
        margin-bottom: 25px;
    }
    .link{
        padding-bottom: 20px;
        font-size: 25px;
    }
   } 
   .copyright{
    margin-top: 50px;
   }
}
/* .block._init .block__title {
    cursor: pointer;
}
.block._init .block__title {
    padding: 10px 40px 10px 10px;
}
.block__title{
    position: relative;
}
.block._init .block__title::before,
.block._init .block__title::after{
    content: "";
    width: 20px;
    height: 1px;
    background-color: black;
    position: absolute;
    right: 10px;
    top: 20px;
    transition: transform 0.3s ease 0s;
}
.block._init .block__title::after{
    transform: rotate(-90deg);
}
.block._init .item__subtitle._active::after{
    transform: rotate(0deg);
} */