@import "variables";
@import "fonts";
@import "reset";
.ibg{
    background-position: center;
    padding: 0 0 50% 0;
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.ibg img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    }
    /*-----------------------------------*/
//Адаптивна властивість
@mixin adaptive-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
       //Тільки якщо менше контейнера
       #{$property}: $startSize + px;
       @media (max-width: #{$maxWidthContainer + px}) {
          #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
       }
    } @else if $type==2 {
       //Тільки якщо більше контейнера
       #{$property}: $startSize + px;
       @media (min-width: #{$maxWidthContainer + px}) {
          #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
       }
 
    } @else {
       //Завжди
       #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
 }
 /*========================================================================*/
*{
   box-sizing: border-box;

}
body{
font-family: "Poppins";
font-size: $font-size;

color:$textColor-1
}
.btn {
   color: $white;
   font-size: 16px;
   background-color: $orangeColor;
   border-radius: 6px;
   font-family: "SourceSansPro";
   font-weight: 700;
   line-height:calc(15 / 14)*100%;
   text-align: center;
   text-transform: uppercase;
   &:hover{
      color: $darkColor-1;
      transition: color 0.3s ease 0s;
   }
}
._container{
   max-width: $maxWidthContainer;
   margin: 0 auto;
}
.wrapper{
   background-color: $darkColor-1;


}
.header{
   color:$white ;  
   @media (max-width: $md3){
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 100;
   }
   &__banner{
      padding: 0 15px;
      min-height: 80px;
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;

      align-items: center;
      color: white;

 /*      justify-content: flex-start; */
   }
}
.banner{
   @media (max-width: $md2){
      font-size: 18px;
      justify-content: center;

   }
   &__logo{
      position: relative;
      z-index: 2;
      margin-right: 20px;
      a{
         position: absolute;
         top: 35%;
         left: 0;
         @media (max-width: $md2){
            position: relative;
         }
         @media (max-width: $md3){
            display: none;
         }
      }
   }
   &__email{
      margin-right: 15px;
      font-family: $main_font;
      margin-right: 20px;

      a{
         text-decoration: none;
         color: $orangeColor;
         font-weight: 400;
         &:hover{
            transition: all 0.3s ease 0s;
            text-decoration: underline;
            font-weight: 600;
            cursor: pointer;
         }
      }
   }
   &__search{
      margin-right: 20px;

   }
   &__login{   
      margin-right: 20px;
    
      justify-self: end; 
      text-decoration: none;
      span{
         padding-left: 10px;
         color: $white;
         &:hover{
            transition: all 0.3s ease 0s;
            text-decoration: underline;
            font-weight: 600;
            cursor: pointer;
         }
      }

   }
   &__number{
      justify-self: flex-end;
      a{
         &:hover{
            transition: all 0.3s ease 0s;
            text-decoration: underline;
            font-weight: 600;
            cursor: pointer;
         }
      }
   }
}
.menu__icon{
   display: none;
}
.search._active .search-form__item{
      opacity: 1;
      top: 100%;
      visibility: visible;
   }

.search{
   position: relative;

   &-form__icon{
      display: none;
      @media (max-width: $md3) {
         display: block;
         background-color: inherit;
         position: relative;
         border: none;
         z-index: 0;
      }
   }
   &-form__item{
      position: relative;
      height: 36px;
      @media (max-width: $md3){
         position: absolute;
         left: 0;
         top: -100%;
         width: 100%;
         box-shadow:  0 0 5px #ff3b2d6a;
         z-index: 10;
         opacity: 0;
         visibility: hidden;     
         transition: all 0.3s ease 0s; 
      }
   }
   &-form__btn{
      background-color: $orangeColor;
      @media (max-width: $md3) {
      }
   }
   &-form__input{
      padding: 10px 15px;
      font-family: "SourceSansPro";
      font-weight: 400;
      min-width: 200px;
      color: black;
      border: none;
      background-color: #bfbdbb;
      &:focus{
         background-color: white;
         border-color: $orangeColor;
         font-size: 16px;
         box-shadow: none;      
      }
   }
}
.btn-form{
   border: none;
   background-color: none;

}
/* 
/*------------------------------*//*------------------------------*//*------------------------------*//*------------------------------*//*------------------------------*/
.header__menu{
   background-color: $white;
   color:$darkColor-2 ;
   display: flex;
   flex-direction: column;
}
.menu{
   position: absolute;

   width: 100%;
   &__inner{
      display:flex;
      align-items: center;
      min-height: 80px;
      justify-content: flex-end;
      padding: 0 15px;
      flex-wrap: wrap;
   }
   &__list{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
   }
   &__item{
      margin-left: 30px;
      padding: 10px 0;
      &:first-child{
         margin-left: 0;
      }

   }
   &__link{
      text-decoration: none;
      color: inherit;
      line-height: 15px;
      font-family: 'SourceSansPro';
      font-weight: 700;
      text-transform: uppercase;
      &:hover{
         transition: all 0.3s ease 0s;
         color: $blueColor;
      }
   }
   &__button{
      margin-left: 30px;
      padding: 8px 17px;
      border-radius: 0 6px;

   }
   &__cart{
      margin-left: 30px;
      a{
         font-size: 24px;
         color: black;
         &:hover{
            transition: color 0.3s ease 0s;
            color: $orangeColor;
         }
      }
   }

}
@media (max-width: $md2) {
.menu{
   &__inner{
      justify-content: center;
   }
   &__item{
      margin-left: 15px;
      font-size: 18px;
   }
   &__cart{
      margin-left: 15px;
   }
   &__button{
      margin-left: 15px;
   }
   }
}
@media (max-width: $md3) {
   .header__menu{
      flex-direction: column-reverse;

   }
   .menu{
      top: 0;
      &__inner{
         justify-content: start;
      }
      &__button,
      &__cart{
         position: relative;
         z-index: 50;
      }
      &__button{
         // background-color: $b;
      }
      &__icon{
         display: block;
         position: relative;
         z-index: 60;
         width: 50px;
         height: 28px;
         left: 0;
         cursor: pointer;
         span,
         &::before,
         &::after{
             left: 0;
             position: absolute;
             height: 10%;
             width: 100%;
             transition: all 0.3s ease 0s;
             background-color: black;
         }
         &::before,
         &::after{
             content: '';
         }
         &::before{
             top: 0;
         }
         &::after{
             bottom: 0;
  
         }
         span{
             top: 50%;
             transform:scale(1) translate(0px, -50%) ;
         }
         &._active span{
             transform: scale(0) translate(0px,-50%);
         }
         &._active::before{
             top: 50%;
             transform: rotate(-45deg) translate(0px, -50%);
         }
         &._active::after{
             bottom: 50%;
             transform: rotate(45deg) translate(0px, 50%);
         }
      }
   &__body{
      position: fixed;
      top: 50px;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 150px 50px 20px 50px;
      transition:  left 0.3s ease 0s;
      overflow: auto;
      z-index: 50;
      &::before{
         content: '';
         position: fixed;
         width: 100%;
         top: 0;
         left: 0;
         height: 80px;
         background-color: $orangeColor;
         z-index: 52;
     }

      &._active{
          left: 0;
      }
      .menu__top{
      }
      .menu__logo{
         right: 0;
         top: 0;
      }
      .menu__number{
         flex: 1 1 150px;
      }
      .menu__email{
         display: none;
      }
      .menu__list{
         flex-direction: column;
         align-items: center;
      }
      .menu__list > li {
          margin: 0px 0px 30px 0px;
          color: $white;
      }
      .menu__list >li:last-child {
          margin-bottom: 0;
      }
      .menu__link{
          font-size: 24px;
      }
  }
  
}}
/*----
/*------------------------------*//*------------------------------*//*------------------------------*//*------------------------------*//*------------------------------*/
body._lock{
   overflow: hidden;
}
/*------------------------------*/
/* 
@media (min-width:767px) {
   .menu__list{
       display: flex;
       align-items: center;
   }
   .menu__list > li {
       padding: 10px 0;
   }
   .menu__sub-list {
       transform: translate(0px,10%);
       opacity: 0;
       visibility: hidden;
       pointer-events: none;
       transition: all 0.3s ease 0s;
   }
}
/*---------------------*/

/*
@media (max-width:767px) {
   .menu__icon{
       display: block;
       position: relative;
       z-index: 5;
       width: 30px;
       height: 18px;
       cursor: pointer;
       span,
       &::before,
       &::after{
           left: 0;
           position: absolute;
           height: 10%;
           width: 100%;
           transition: all 0.3s ease 0s;
           background-color: black;
       }
       &::before,
       &::after{
           content: '';
       }
       &::before{
           top: 0;
       }
       &::after{
           bottom: 0;

       }
       span{
           top: 50%;
           transform:scale(1) translate(0px, -50%) ;
       }
       &._active span{
           transform: scale(0) translate(0px,-50%);
       }
       &._active::before{
           top: 50%;
           transform: rotate(-45deg) translate(0px, -50%);
       }
       &._active::after{
           bottom: 50%;
           transform: rotate(45deg) translate(0px, 50%);
       }
   }

   .menu__body{
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.9);
       padding: 30px;
       transition:  left 0.3s ease 0s;
       overflow: auto;
       &::before{
           content: '';
           position: fixed;
           width: 100%;
           top: 0;
           left: 0;
           height: 80px;
           background-color: $orangeColor;
           z-index: 2;
       }
       &._active{
           left: 0;
       }
   }
   .menu__top{
   }
   .menu__logo{
      right: 0;
      top: 0;
   }
   .menu__number{
      flex: 1 1 150px;
   }
   .menu__email{
      display: none;
   }
   .menu__list{
      flex-direction: column;
      align-items: center;
   }
   .menu__list > li {
       margin: 0px 0px 30px 0px;
       color: $white;
   }
   .menu__list >li:last-child {
       margin-bottom: 0;
   }
   .menu__link{
       font-size: 24px;
   }
} 
 */
 /*========================================================================*/ 
//  //spoller
//  .block{
//    margin: 0px 0 30px 0;
//  }
//  .block__item{
//    margin: 0px 0 10px 0;
//  }
//  .block__title{
//    width: 100%;
//    text-align-last: left;
//    font-size: 18px;
//    background-color: transparent;
//    color: aliceblue;
//    padding: 10px;
//    height: 1px;
//    position: relative;
//  }
//  .block._init .block__title{
//    cursor: pointer;
//    padding: 10px 40px 10px 10px;
// }
// .block._init .block__title::after,
// .block._init .block__title::before{
//    content: '';
//    width: 20px;
//    height: 1px;
//    background-color: #fff;
//    position: absolute;
//    right: 10px;
//    top: 20px;
//    transition: transform 0.3s ease 0s;
// }
// .block._init .block__title::after{
//    transform: rotate(-90deg);
// }
// .block._init .block__title._active::after{
//    transform: rotate(0deg);
// }
// .block__text{
//    padding: 0 10px 10px;
//    line-height: 130%;
// }
// .block_1 .block__item{
//    background-color: purple;

// }
// .block_2 .block__item{
//    background-color: red;
   
// }
// .block_3 .block__item{
//    background-color: greenyellow;
   
// }
 /*========================================================================*/
main{
   padding-top: 170px;
   @media (max-width: $md2){
      padding-top: 120px;
   }
   @media (max-width: $md3){
      padding-top: 90px;
   }
}
.wellcome{
   padding: 0px 0 90px;
   background-image: url('@img/tree.png');
   background-position: bottom right;
   background-repeat: no-repeat;
   &__inner{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;

   }
   &__article{
      flex: 0 1 652px;
   }
   &__form{
      flex: 0 1 370px;
      background-color: $orangeColor;
      padding: 80px 20px;
      margin-left: 15px;
   }
   @media (max-width: $md3) {
      padding: 100px 0;
      &__inner{
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
      }
      &__form{
         width: 100%;
         margin-left: 0;
         padding: 30px 10px;
      }
      &__article{
         flex: 1 1 auto;
      }
   }
}
.title{
   font-family: "Sacramento";
   font-size: 36px;
   color: $orangeColor ;
   line-height: 48px;
   span{
      color:#222222;
      font-size: 36px;
      font-family: "Lobster Two";
      font-weight: 700;
   }
   &::after{
      content: "";
      display: block;
      background-image: url('@img/line__title.png');
      width: 100%;
      height: 28px;
      background-repeat: no-repeat;
   }
   @media (max-width:$md3) {
      font-size: 60px;
      text-align: center;
      &::after{
         background-position: center;
      }
      span{
         font-size: 60x;
      }
   }
}
.text{
   font-family: "Poppins";
   color: $textColor-1;
   font-weight: 400;
   line-height: 28px;
}
.signature{
   font-family: "Sacramento";
   font-weight: 400;
   font-size: 28px;
   span{
      font-size: 16px;
      text-align: center;
   }
}
.article-wellcome__title::after{
   content: '';
   background-image: url("@img/line.png");
}
.article-wellcome{
   &__title{
      margin-bottom: 50px;
      font-size: 48px;
      font-family: "Lobster Two";      
      font-style: italic;
      span{
         font-size: 28px;
      }
      ::after{
         height: 22px;
         background-image: url('@img/line.png');
      }
   }
   &__signature{
      margin-top: 78px;
   }
   &__text{
      &:not(:last-child){
         margin-bottom: 28px;
      }
   }
}
@media (max-width: $md2) {
   .wellcome{
      padding: 80px 0;
   }
}
@media (max-width: $md3) {
   .wellcome{
      padding: 80px 0;
   }
   .title{
      font-size: 55px ;
      span{
         font-size: 30px;
      }
   }
   .text{
      font-size: 18px;
   }
   .article-wellcome{
      margin-bottom: 50px;
      &__signature{
         margin-top: 50px;
      }
   }
}
.form-wellcome{
   &__body{
       display: flex;
   flex-direction: column;  
   }
   &__title{
      font-size: 24px;
      color: $white;
      font-style: normal;
      align-self: center;
      margin-bottom: 30px;
      &::before,
      &::after{
         content: '';
         display: inline-block;
         width: 23px;
         height:23px ;
         background-image: url('@img/wellcome_icon.png');
      }
   }
   &__btn{
      background-image:linear-gradient(to left, #00fff0 0%, #40b1e5 100%);
      background-color: $blueColor;
      padding: 12px 0;
      color: $white;
      font-family: "Poppins";
      font-weight: 400;
      border: none;

   }
   &__input{
      padding: 10px 10px 10px 25px;
      border: none;
      font-family: "Poppins";
      font-weight: 400;
      color: $textColor-1 ;
      &:not(:last-child){
         margin-bottom: 20px;
      }
   }
   @media (max-width:$md2) {
      .form-wellcome{
         &__title{
            font-size: 45px;
         }
         &__btn{
            font-size: 18px;
         }
      }
      
   }
}
.feature-item{
   font-size: 24px;
   line-height: 28px;
   font-family: "Lobster Two";
   text-align: center;
   color: $darkColor-1;
   &__title::after{
      background-position: center;
   }
   &__inner{
      padding: 90px 15px 100px;
   }
   &__img{
      margin-bottom: 34px;
   }
   &__price span{
      font-size: 16px;
      text-decoration:line-through;
   }
}
.feature-item__slider{

   overflow: visible;
   margin-top: 70px;
   @media (min-width:310px) {
      overflow: hidden;
      
   }
}
.swiper-wrapper{
   justify-content: start;
}
.feature-item__item{
   width: 100%;
}
.feature-item__item .ibg{
   padding: 0 0 80% 0;
}
.feature-item ._container{

}
.feature-item__button{
   width: 56px;
   height: 56px;
   border-radius: 50%;
   background-color: #ff3a2d;
   background-image: linear-gradient(to left, #00fff0 0%, #40b1e5 100%);
   &--right{}
}
.swiper-button-next:after,
.swiper-button-prev:after{
   font-size: 30px;
   color: white;
}  
.feature-item{
   @media (max-width:$md3) {
      &__inner{
         padding: 50px 15px;
      }
      &__slider{
         margin-top: 30px;
      }
      &__name,
      &__price{
         font-size: 1.2em;
      }
   }
}
//*-----------------------------------------------------------------------//*
.about-us{
   background-image: url('@img/cook.png');
   background-repeat: no-repeat;
   background-position: top right;
   &__inner{
      display: flex;
      align-items: center;
      padding: 170px 15px;
      position: relative;
   }
   &__article{
      flex: 0 1  790px;
      position: relative;
      z-index: 3;
   }
   &__text{
      margin: 43px 0 50px 0 ;
   }
   @media (max-width:$md2){
      &__article{
         flex: 1 1  790px;
      }
   }
}
.spoiler{
   &:not(:last-child){
      margin-bottom: 25px;
   }
   &__title{
      color: $darkColor-2;
      font-size: 16px;
      font-family: "Poppins";
      font-weight: 500;
      padding-right: 50px;
      &:hover{
         color: $blueColor;
      }
   }
   &__title{
      border: none;
      background-color: #fff;
      text-align: left;
   }
   .spoiler__title::after{
    content: '>';
    position: absolute;
    font-size: 40px;
    right: 0;
    top: 0;
    transform: rotate(90deg);
    transition: transform 0.3s ease 0s;
 }
 &__text{
padding-left: 15px;
margin: 13px 0 35px 0;
 }
}
.about-us__spoiler{
   position: relative;
}
.about-us__spoiler._active  .spoiler__title::after {
   transform: rotate(-90deg);
}
.about-us__spoiler._active .spoiler__title{
   color: $blueColor;
}
@media (max-width: $md2) {

   .about-us__inner::after{
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      opacity: 0.7;
      z-index: 1;
   }
   .spoiler__title{
      font-size: 1.5em;
   }
}
/*========================================================*/
.delivary{
   background-image: url('@img/delivary_bgi.png');
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   background-size: cover;
   &::before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: 0.7;
      z-index: 1;
   }
   &__inner{
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-self: center;
      flex-direction: column;   
      padding: 200px 0;
   }
   &__title{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      span{
         color: white;
         text-align: center;
      }
      &::after{
         background-position: center;
      }
   }
   &__cards{
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.card-delivary{
   margin-top: 100px;
   position: relative;
   background-color: #fff;
   padding: 80px 40px 52px 40px;
   flex: 0 1 370px;
   text-align: center;
   &:not(:last-child){
      margin-right: 30px;
   }
   &__icon{
      position: absolute;
      width: 100px;
      height: 80px;
      box-shadow: 0 2px 8px rgba(33, 30, 31, 0.5);
      border-radius: 0 24px;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 37%;
      top: -35px;
   }
   &__title{
      font-family: "Lobster Two";
      font-weight: 400;
      font-size: 28px;
      color: $orangeColor;
      margin-bottom: 20px;
   }
}
@media (max-width:$md3) {
      .delivary__cards{
         flex-direction: column;
      }
      .card-delivary{
         padding: 70px 20px 30px 20px;
         margin-top: 50px;
         flex: 1 1 auto;
         font-size: 20px;
         &:not(:last-child){
            margin-right: 0;
         }
         &__icon{
            left: 43%;
         }
         &__title,
         &__text{
            font-size: 1.5rem;
         }
      }
}
/*========================================================*/
.stuff{
   background-image: url('@img/stuff__bg.png');
   background-position: center;
   background-repeat: no-repeat;
   &__inner{
      padding: 100px 0;
   }
   &__title{
      text-align: center;
      &::after{
         background-position: center;
      }
   }
   &__slider{
      margin-top: 75px;
   }

}
.card-stuff{
   flex: 0 0 370px;
   display: flex;
   background-color: #fff;
   flex-direction: column;
   color: $textColor-1;
   font-family: "Lobster Two";
   text-align: center;
   box-shadow: 0 0 6px rgba(33, 30, 31, 0.4);
   margin: 15px;
   &__img{
      padding: 0 0 118% 0;
   }
   &__name{
      font-size: 24px;
      color: $blueColor;
   }
   &__position{
      font-size: 18px;
      margin-top: 10px;
   }
   &__links{
      margin-top: 26px;
      font-size: 16px;
   }
   &__body{
      padding: 40px 0;
      flex: 1 1 auto;
   }
   &__link{
      font-size: 18px;
      color: inherit;
      &:not(:last-child){
         margin-right: 10px;
      }
      &:hover{
         color: $blueColor;
         transition: all 0.3s ease 0s;
      }
   }
}
.actions-stuff{
   @media (any-hover:hover) {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      background-color: #00ffeeab;
      background-image: linear-gradient(to left, #00ffee45 0%, #40b1e54b 100%);
      transition: all 0.6s;
   }
   &__body{
      padding: 0 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__link{
      @media (any-hover:hover) {
         &:hover{
            box-shadow: 0 2px 8px rgba(33, 30, 31, 0.5);
         }
         
      }

      &:not(:last-child){
         margin-right: 20px;
      }
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: #fff;
      color: $orangeColor;
      font-size: 20px;
   }

}
.card-stuff__img:hover{
         .actions-stuff{
            opacity: 1;
            visibility: visible;
         }
      }
   

/*========================================================*/
.newsletter{
   background-image: url('@img/newsletter.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position:relative;
      &::before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: 0.7;
      z-index: 1;
   }
   &__inner{
      display: flex;
      align-items: center;
      padding: 200px 15px;
      z-index: 3;
      position: relative;
      justify-content: space-between;
   }
   &__article{
      flex: 0 1 576px;
   }
   &__title{
      font-family: "Lobster Two";
      font-weight: 400;
      color:$white;
      &::after{
         background-image: url('@img/line__title_1.png');
      }
   }
   &__text{
      color:$white;
      margin-top: 20px;
   }
}

.form-newsletter{
   margin-left: 95px;
   flex: 1 1 auto;
   &__form{
      width: 100%;
      display: flex;
   }
   &__input{
      padding: 30px 0 30px 26px;
      flex: 1 1 auto;
      color:$textColor-1;
      font-family: "Poppins";
      font-weight: 400;
      font-size: 18px;
      &:focus{
         color: black;    
         box-shadow: none;   
         border: none;   
      }
   }
   &__button{
      background-image: url('@img/icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-color: $blueColor;
      width: 90px;
      background-size: 40px;
      &:hover{
         transition: all 0.3s;
         background-color: $orangeColor;
      }
   }

}
@media (max-width:$md2) {
   .newsletter__inner{
      padding: 100px 15px;
   }
}
@media (max-width:$md3) {
   .newsletter__inner{
      padding: 50px 15px;
   }
   .newsletter__inner{
      flex-direction: column;
   }
   .newsletter__article{
      flex: 1 1 auto;
      margin-bottom: 30px;
   }
   .form-newsletter{
      margin-left: 0;
      width: 100%;
   }
}
@media (max-width:$md4) {
   .form-newsletter__button{
      background-size: 30px;
   }
}
/*========================================================*/

.map{
   padding-top: 200px;
   &__inner{
      text-align: center;
   }
   &__title{
      margin-bottom: 80px;
      color: $darkColor-2;
      font-family: "Lobster Two";
      &::after{
      background-position: center;      }
   }
   iframe{
      width: 100%;
   }
   @media (max-width:$md2) {
      padding-top: 100px;
      iframe{
         height: 500px;
      }
   }
   @media (max-width:$md3) {
      iframe{
         height: 300px;
      }
   }
}
/*========================================================*/

.contact{
   padding: 150px 15px;
   &__inner{
      display: flex;
      align-items: start;
      justify-content: space-between;
   }

}
.open-hours{
   flex: 1 0 360px;
   &__title{
      font-family: "Lobster Two";
      color: $darkColor-2;
      margin-bottom: 50px;
   }
   &__day{
      font-family: "Poppins";
      font-weight: 500;
      font-size: 20px;
      color: $darkColor-2;
      text-transform: uppercase;
      &:not(:last-child){
         margin-bottom: 30px;
      }
      span{
         padding-left: 15px;
         color: $textColor-1
      }
   }
}
.message{
   flex: 1 1 auto;
   &__title{
      font-family: "Lobster Two";
      font-weight: 400;
      color: $darkColor-2;
      font-size: 36px;
      margin-bottom: 40px;
   }
   &__form{
      display: flex;
      flex-direction: column;
   }
   &__form--textarea,
   &__form--text{
      border: 1px solid $textColor-1;
      font-family: "Poppins";
      font-size: 18px;
      padding: 15px 0 15px 30px;
      color: $textColor-1;
      &:not(:last-child){
         margin-bottom: 40px;
      }
      &:focus{
         color: $darkColor-2;
         border-color: $orangeColor;
      }
   }
   &__form--textarea{
      min-height: 190px;
      resize: none;
   }
   &__form--submit{
      flex: 0 0 50px;
      max-width: 124px;
      color: white;
      background-color: $orangeColor;
      border: none;
      font-size: 18px;
      font-family: "Poppins";
      &:hover{
         transition: background-color 0.5s;
         background-color: $blueColor;
      }

   }

}
@media (max-width:$md3) {
   .contact{
      padding: 100px 15px;
      &__inner{
         flex-direction: column;
         align-items: center;
      }
   }
   .open-hours{
      flex: 1 1 auto;
   }
   .message{
      width: 100%;
      margin-top: 50px;
   }
   .message__title{
      font-size: 55px;
      text-align: center;
   }
   .message__form--textarea:not(:last-child), .message__form--text:not(:last-child){
      margin-bottom: 20px;
   }
   .message__form--submit{
max-width: none;   }
}
/*========================================================*/
.blog{
   background-color: #ffe8e7;
   &__inner{
      padding: 180px 15px 200px ;
   }
   &__title{
      margin-bottom: 100px;
      text-align: center;
      &::after{
         background-position: center;
      }
   }
   &__slider{
      .swiper-button-next:after, .swiper-button-prev:after{
         color: $blueColor;
         font-size: 48px;
      }
   }
}
.card-blog{
   display: flex;
   flex-direction: column;
   position: relative;
   background-color: #fff;
   &__img{
      padding-bottom: 104%;
   }
   &__day{
      position: absolute;
      width: 100px;
      padding: 17px 24px;
      top: 0;
      left: 33%;
      z-index: 5;
      background-color: $orangeColor;
      font-family: "Poppins";
      font-weight: 400;
      font-size: 20px;
      color: white;
      span{
         font-weight: 500;
         font-size: 24px;
      }
   }
   &__title{
      font-size: 18px;
      color: $darkColor-2;
      font-weight: 500;
      margin-bottom: 30px;
      &:hover{
         color: $blueColor;
         transition: all 0.5s ease 0s;
      }
      a{
         color: inherit;
         text-decoration: none;
      }
   }
   &__text{
      line-height: 24px;
   }
   &__body{
      padding: 50px 35px 130px 32px ;
   }
   &__look{
      margin-right: 15px;
   }
   &__comments{
      padding: 0 35px 0 32px;
      color: white;
      font-weight: 400;
      display: flex;
      align-items: center;
      position: absolute;
      justify-content: space-between;
      bottom: 40px;
      min-height: 50px;
      width: 100%;
      background-color: $orangeColor;
      a{
         color: inherit;
         text-decoration: none;
         &:hover{
            transition: all 0.5s ease 0s;
            font-weight: 500;
         }
      }
   }
   &__comment{
      display: flex;
   }
}
.actions-blog{
   &__body{
      display: block;
   }
   @media (any-hover:hover) {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      background-color:#000000b8;
      transition: all 0.6s;
   }
   &__link{
      &:after,
      &:before{
         content: '';
         width: 2px;
         height: 192px;
         background-color: #fff;
      }
      &:after{
         transform: rotate(90deg);
      }
      @media (any-hover:hover) {
         &:hover{
            box-shadow: 0 2px 8px rgba(33, 30, 31, 0.5);
         }
         
      }

      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 20px;
   }

}
.card-blog__img:hover{
         .actions-blog{
            opacity: 1;
            visibility: visible;
         }
      }
@media (max-width: $md3){
   .blog__inner{
      padding: 100px 15px;
   }
   .card-blog{
      &__body{
         padding: 15px ;
      }
      &__comments{
         position: relative;
         bottom: 0;
      }
      &__img{
         padding-bottom: 50%;
      }
   }
}

/*========================================================*/
.footer{
   background-image: url('@img/footer_bgi.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
   &::before{
      content: '';
      display: block;
      background-color: #ffe8e7;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
   }

   &__inner{
      padding: 49px 15px 82px 15px;
      display: grid;
      position: relative;
      z-index: 1;
   }
   &__title{
      font-family:"Lobster Two";
      font-size: 28px;
      color: $darkColor-2;
      margin-bottom: 20px;
   }
   &__nav{
      justify-self: right;
   }
}
   
   .box1{grid-area:box1 ;}
   .box2{grid-area:box2 ;}
   .box3{grid-area:box3 ;}
   .box4{grid-area: box4 ;}
   .footer__inner{
      grid: " box1 box2 box3"
            "box1 box4 box4" 
            / 270px 1fr 270px;
   }

   .social{
      &__links{
         margin-top: 44px;

      }
      &__link{
         font-size: 24px;
         color: #808080;
         &:not(:last-child){
            margin-right: 20px;
         }
         &:hover{
            color: $blueColor;
            transition: all 0.5s ease 0 ;
         }
      }
   }
.introduction{
   text-align: center;
   max-width: 471px;
   justify-self: center;
   &__logo img{
      width: 74px;
      margin-bottom: 17px;
   }
}
.tag{
   &__link{
      display: inline-block;
      text-decoration: none;
      background-color: #fff;
      font-family: "Poppins";
      font-weight: 400;
      margin-bottom: 21px;
      padding: 10px 15px;
      &:not(:last-child){
         margin-right: 10px;
      }
      &:hover{
         color: $blueColor;
         transition: all 0.5s ease 0;
      }
      
   }
   &__search{
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
   }
   &-placeholder{
      border: none;
      color: $textColor-1;
      padding:9px 0 9px 15px ;

   }
   &-button{
      background-color: $blueColor;
      color: white;
      height: 100%;
      border: none;

      &:hover{
         background-color: $orangeColor;
         transition: all 0.5s ease 0;
         cursor: pointer;
      }
   }
}
.search-tag{
   width: 100%;
   height: 31px;
}

.footer__nav{
   .menu__name{
      font-family: "SourceSansPro";
      font-weight: 700;
      text-transform: uppercase;
      color: $blueColor;      
   }
   .menu__item{
      font-size: 14px;
   }
}
@media (max-width:$md2) {
   .footer__inner{
      gap: 30px;

      grid: "box1 box2 "
            "box3 box3" 
            "box4 box4"
            / 270px 1fr;
   }

}
@media (max-width:$md3) {
   .footer__inner{
      padding: 50px 15px;
      align-items: center;
      gap: 10px;
      text-align: center;

      grid: "box2"
            "box1" 

            "box3" 
            "box4"
            /1fr;
   }
   .introduction{
      max-width: none;
      &__logo{
         display: none;
      }
   }
   .tag-placeholder{
      width: 80%;
   }
   .tag-button{
      width: 10%;
   }
   .tag__link{
      margin-bottom: 10px;
      &:not(:last-child){
         margin-right: 7px;
      }
   }

   .social__links{
      margin-top: 20px;
   }
}